$mobile_width: 500px;
$desktop_width: 1024px;

@mixin mobile {
  @media (min-width: 300px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */ html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
$font-crete: 'Crete Round';
$font-sans:  'Open Sans', sans-serif;
$orange: #f28839;
$darkblue: #0c275a;
html {
  font-family: $font-sans;
  font-size: 16px;
  @include desktop {
    background: url(bg.jpg) 50% 0 no-repeat #fff;
  }
}
h1,h2,h3,h4,h5 {
  font-weight: 400;
  font-family: $font-crete;
}

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 100px;
}
.orange-button {
  display: block;
  color: #fff;
  background: #f28829;
  font-size: 22px;
  font-family: $font-sans;
  font-weight: 700;
  width: 100%;
  line-height: 45px;
  height: 45px;
  border: none;
  border-radius: 2px;
}
.so {
  float: right;
  margin-top: 1rem;
  a {
    display: inline-block;
    height: 25px;
    background: 50% 0 no-repeat;
    background-size: auto 100%;
    width: 48px;
    text-indent: -1900px;
    overflow: hidden;
  }
  .fb {
    background-image: url(fb.svg);
    background-position: 100% 0;
  }
  .tw {
    background-image: url(tw.svg);
  }
  .in {
    background-position: 0 0;
    background-image: url(in.svg);
  }
}
header {
  padding-top:1rem;
  box-sizing: border-box;
  @include desktop {
    height: 275px;
  }
  a {
    vertical-align: middle;
    @include desktop {
      vertical-align: top;
    }
    display: inline-block;
  }
  .logo-beitinu {
    @include desktop {
      margin-left: 20px;
      width: 225px;
    }
  }
  .logo-ie {
    @include desktop {
      margin-top: 75px;
      img {
        width: 365px;
        height: auto;
      }
    }
  }

}
header + div {
  display: inline-block;
  width: 100%;
  max-width: 700px;
  margin-top: -.7rem;
  margin-left: 1.5rem;
  vertical-align: top;
  @include mobile {
    margin: 0 1rem;
  }
  h2 {
    font-size: 2rem;
    font-style: italic;
    max-width: 16em;
    line-height: 1.3;
  }
  p {
    margin-top: 1.7rem;
    font-size: 1.2rem;
  }
}
form {
  display: inline-block;
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-bottom: 152px;
  vertical-align: top;
  background: rgba(12,39,90,.8);
  padding: 21px 56px 40px;
  box-sizing: border-box;
  margin-left: 68px;
  @include mobile {
    margin: 1rem auto;
    display: block;
  }
  h2 {
    font-size: 1.8rem;
    color: #fff;
    font-style: italic;
    max-width: 9em;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  input, button {
    font-family: $font-sans;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 2px;
  }
  input {
    text-indent: 1rem;
    background: #fff;
    margin: 0 0 18px;
    font-size: 1.2rem;
  }
  button {
    @extend .orange-button;
  }
}
main {
  font-size: 1rem;
  margin: 0 1.5rem;
  line-height: 1.5;
  
  section {
    a {
      @extend .orange-button;
      width: auto;
      display: inline-block;
      padding: 0 1rem;
      font-size: 1rem;
      text-decoration: none;
      margin: .5rem 0 0;
    }
    ul {
      margin-bottom: 2rem;
    }
      
    h3 {
      font-style: italic;
      color: $darkblue;
    }
  }

  h2 {
    color: #0c275a;
    font-size: 2rem;
    margin: 1.5em 0 0 0;
  }
  h3 {
    color: $orange;
    font-size: 1.25rem;
    font-weight: 400;
    margin: 22px 0 0 0 ;
    span {
      display: block;
    }
  }
  h3 + ul {
    li:last-child {
      list-style: none;
    }
  }
  li {
    padding: 0 0 0 15px;
    margin-bottom: 5px;
    &:before {
      margin-top: .5rem;
      position: absolute;
      margin-left: -15px;
      border: 1px solid lightblue;
      border-radius: 3px;
      width: 6px;
      height: 6px;
      content: ''
    }
    b {
      font-weight: 700;
    }
  }
}
div.thankyou {
  text-align: center;
  max-width: 100%;
}
.thankyou h1 {
  font-size: 2.5rem;
  font-style: italic;
  color: $darkblue;
}
.thankyou p {
  max-width: 30em;
  margin: 0 auto;
}
